streamlit~=1.41.0
requests~=2.32.3
psutil~=6.1.0
prometheus-client~=0.21.1
tenacity~=9.0.0
chromadb~=0.5.23
langchain-community~=0.3.11
langchain-core~=0.3.24
langchain~=0.3.11
langchain-google-genai~=2.0.7
sentence-transformers
gpt4all
tiktoken
pyngrok