dist
build
.ipynb_checkpoints
tutorial
models
.DS_Store
omicverse.egg-info
aliyun_analytics_server
.ipynb_checkpoints
__pycache__
meta.yaml
data
genesets
temp
result_simba
enrichr
.pytest*
.idea/
omicverse_guide/site
*bin
*sqlite3
*log