Pyomic
scanpy
gseapy == 0.10.8
matplotlib
seaborn
sklearn
sphinx_autosummary_accessors
sphinx_autodoc_typehints
recommonmark
sphinx_markdown_tables
sphinx_copybutton
nbsphinx
IPython
ktplotspy
ipywidgets
lifelines
boltons
ctxcore
multiprocess